{% extends 'base.html.twig' %}

{% block title %}Home - Travel Online Agency{% endblock %}

{% block body %}
    <section class="home-jumbo" data-aos="fade-up"
              data-aos-duration="2000" >
        <div class="row-home-h1"  style="background:linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6)),url({{ asset('img/waterfall.jpg') }}); background-position-y: 40%">
            <img src="{{ asset('img/'~ plataforma.logo) }}" alt="" style="height: 10em">
            <h1>{{ plataforma.nombre }}</h1>
        </div>
    </section>
    <section id="bookings"   data-aos="fade-up" data-aos-duration="2000">
        <div class="row">
            <div class="col-md-12 center">
                <h2>{{ cfg_bookings['titulo'] }}</h2>
                <hr>
                {% if cfg_bookings['descripcion'] %}
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <p class="text-center">
                                    {{ cfg_bookings['descripcion'] }}
                            </p>
                            <hr>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="display: flex; flex-direction: row; justify-content: space-evenly">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" onclick="getBookingsbyfecha('{{ 'now' | date('Y-m-d') }}')">Ver todo</a>
                                    </li>
                                </ul>
                                <form class="form-inline my-2 my-lg-0" style="display: flex; flex-direction: row;">
                                    <label for="filtrofecha" class="mr-5">Seleccionar un día</label>
                                    <input type="date" id="filtrofecha" class="form-control" onchange="getBookingsbyfecha()" min="{{ now | date('Y-m-d') }}">
                                </form>
                        </nav>
                        <hr>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row center" id="bookingrowinicio">
                    {% include 'inicio/bookings.html.twig' %}
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-up" data-aos-duration="1500">
        <div class="row" >
            <div class="col-md-12 center">
                <h2>{{ cfg_traslados['titulo'] }}</h2>
                <hr>
                {% if cfg_traslados['descripcion'] %}
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <p class="text-center">{{ cfg_traslados['descripcion'] }}</p>
                            <hr>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                {% endif %}
                <div class="row center     ">

                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-up" >
        <div class="w-100 text-center center" style="padding: 0.5em;">
            <h3>Social media</h3>
            <hr>
        </div>
        <div class="text-center" style="display: flex;flex-direction: row; width: 100%; justify-content: center; font-size: 2.5em">
            {%  if plataforma.linkInstagram != '' %}
                <a href="{{ plataforma.linkInstagram }}" style="margin: 0.5em">
                    <span class="mbr-iconfont bi bi-instagram"></span>
                </a>
            {% endif %}
            {%  if plataforma.linkInstagram != '' %}
                <a href="{{ plataforma.linkWhatsapp }}" style="margin: 0.5em">
                    <span class="mbr-iconfont bi bi-whatsapp"></span>
                </a>
            {% endif %}
        </div>

    </section>
{% endblock %}
