{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Register</h1>

            {{ form_errors(registrationForm) }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.nombre) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            {{ form_row(registrationForm.solicitarPartner) }}

            <button type="submit" class="btn btn-success  w-100">Register</button>
            {{ form_end(registrationForm) }}
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}
