{% extends 'administrador/base.html.twig' %}

{% block title %}Panel - Mensajes{% endblock %}

{% block body %}
    <style>
        .cs-message-emisor {
            max-width: 90%;
            width: auto;
            height: auto;
            background-color: lightgreen;
            float: right;
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
            position: relative;
        }
        .cs-message-emisor::before {
            content: "";
            position: absolute;
            right: 0px;
            bottom: -1px;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            background-color: lightgreen;
            transform: skew(0deg, 45deg);
        }
        .cs-message-emisor p, .cs-message-emisor span {
            position: relative;
            z-index: 1;
            margin: 0;
            color: #828282;
        }
        .cs-message-emisor p {
            overflow-wrap: break-word;
            display: inline;
            font-size: 14px;
            line-height: 1;
        }
        .cs-message-emisor span {
            font-size: 12px;
            float: right;
            margin: 3px 0px 0px 10px;
        }

        .cs-message-receptor {
            max-width: 90%;
            width: auto;
            height: auto;
            background-color: lightgrey;
            float: left;
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
            position: relative;
        }
        .cs-message-receptor::before {
            content: "";
            position: absolute;
            left: 0px;
            bottom: -1px;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            background-color: lightgrey;
            transform: skew(0deg, -45deg);
        }
        .cs-message-receptor p, .cs-message-receptor span {
            position: relative;
            z-index: 1;
            margin: 0;
            color: #828282;
        }
        .cs-message-receptor p {
            overflow-wrap: break-word;
            display: inline;
            font-size: 14px;
            line-height: 1;
        }
        .cs-message-receptor span {
            font-size: 12px;
            float: right;
            margin: 3px 0px 0px 10px;
        }
    </style>
    <div class="row w-100 mb-5">
        <a class="btn btn-primary" href="/administrador/mensajes">Volver a mensajes</a>
    </div>
    <div style="background-color: white; box-shadow: 2px 2px 2px rgba(0,0,0,0.3)">
        <div class="row" >
            <div class="col-md-3"></div>
            <div class="col-md-6 pt-5" style=" min-width: 410px !important;">
                <h1>Mensaje de {{ mensaje.nombre }}</h1>
            </div>
            <div class="col-md-3"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 p-5" style="text-align: left; min-width: 410px !important;">
                <ul>
                    <li>Mensaje n° {{ mensaje.id }}</li>
                    <li>Email: {{ mensaje.email }}</li>
                </ul>
                <hr>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="cs-message-receptor">
                            <p>{{ mensaje.nombre }}:</p><br>
                            <p>{{ mensaje.mensaje }}</p><span>{{ mensaje.getCreatedAt | date("d/m/Y H:i","America/Argentina/Buenos_Aires") }}</span>
                        </div>

                        {% for respuesta in mensaje.respuestasMensaje %}

                            <div class="cs-message-emisor">
                                <p>{{ respuesta.usuario.nombre }}:</p><br>
                                <p>{{ respuesta.mensaje | raw }}</p><span>{{ respuesta.getCreatedAt | date("d/m/Y H:i","America/Argentina/Buenos_Aires") }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <hr>
                {{ form(mensaje_respuesta_form) }}






            </div>
            <div class="col-md-2"></div>
        </div>
{% endblock %}